<%= error_messages_for :snippet %>

<% form_for(@snippet) do |form| %>
  <div class="field text_field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  
  <div class="field text_area">
    <%= form.label :code %>
    <%= form.text_area :code %>
  </div>
  
  <div class="actions">
    <%= form.submit "Save" %>
  </div>
<% end %>
