<%= error_messages_for :account %>

<% form_for(@account, :url => update_password_account_path) do |form| %>
  <div class="field text_field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  
  <div class="field text_field">
    <%= form.label :password_confirmation, "Confirm password" %>
    <%= form.password_field :password_confirmation %>
  </div>
  
  <div class="actions">
    <%= form.submit "Save" %>
  </div>
<% end %>
